# files ignored by git

# server jobs file & config
#submit.sh
#src/Initial/Shells/Shells.cpp

# outputs
*.out
results/*
*.png
bin/Tools/figures/*

# compiled files
*.o
*.pyc
bin/Tools/__pycache__
bin/Tools/__pycache__/*
bin/GAMMA
notes_encours.txt
Makefile
relaunch_test.sh
