# files ignored by git

# server jobs file & config
#submit.sh
#src/Initial/Shells/Shells.cpp
phys_input.ini
HPC_launch.sh

# outputs
*.out
results/*
*.png
bin/Tools/figures/*
extracted_data/*

# compiled files
*.o
*.pyc
bin/Tools/__pycache__
bin/Tools/__pycache__/*
bin/GAMMA
notes_encours.txt
#Makefile
#relaunch_test.sh
