# files ignored by git

# server jobs file
submit.sh

# compiled files
*.o
*.pyc
bin/Tools/__pycache__
bin/GAMMA

# outputs
*.out

# result file on distant
results/HPC_Last
results/Last/run_data.csv
results/Last_MWN/run_data.csv
results/default/run_data.csv
bin/Tools/__pycache__/data_IO.cpython-310.pyc
